header {
    max-width: 1207px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    input[type="submit"] {
        @include button;
        background-color: var(--header);
    }

}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}