@font-face {
    font-family: "Arcane Regular";
    src: url("https://db.onlinewebfonts.com/t/502cf5d63e1bd546956a036c88f9920d.eot");
    src: url("https://db.onlinewebfonts.com/t/502cf5d63e1bd546956a036c88f9920d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/502cf5d63e1bd546956a036c88f9920d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/502cf5d63e1bd546956a036c88f9920d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/502cf5d63e1bd546956a036c88f9920d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/502cf5d63e1bd546956a036c88f9920d.svg#Arcane Regular")format("svg");
}

header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.405);
    input[type="submit"] {
        @include button;
        background-color: var(--header);
    }
}

a {
    text-decoration: none;
}

.menu {
    width: 100%;
    background-color: var(--active-color);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

#header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu li {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    
}

.menu ul li a {
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: "Arcane Regular";
    font-size: 1.5em;
    letter-spacing: .2rem;
	transition: .3s ease color;
}

.menu ul li a:hover,
.menu ul li  a:focus {
    color: #ff701d;
}


form.search {   
    margin-top: auto;
    margin-bottom: 5px;

    #site-search {
        padding-bottom: 4px;
    }
}

.options-header {
    margin-top: auto;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .config {
        border-right: var(--active-color) solid 1px;
    }

    a.config {
        color: var(--active-color);
        width: 45px !important;
        height: 30px;
        display: block;
        text-align: center;
        justify-content: center;
    }
    
    img {
        height: 30px;
    }
    
    a#language {
        display: flex;
        justify-content: center;
        align-self: auto;
        padding-top: 7px;
    }
    
    img#picto-admin {
        width : 15px;
    }
    
    img#picto-help {
        width : 22px;

    }
}

