
//colors
:root {
    --primary-color: #FFF;
    --active-color: #353535;
    --background-color: #;
    --default-color: #;
}

//fonts
$title-font: 'Arcane', sans-serif;


// imports
@import'_reset';
@import'_default';
@import'_header';



body {
    background-color: var(--primary-color);

    p {
        color: var(--active-color);
        font-weight: 300;
    }
}

.wrapper {
    max-width: 1312px;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Arcane';
    src: url('fonts/Arcane.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arcane', sans-serif;
}

#site-search {
    width: 416px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #999999;
    border-style: none;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
}

button {
    background-color: var(--primary-color);
    border: none;
}

.search {
    margin-top: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #707070;
}