@font-face {
    font-family: 'Arcane';
    src: url('/public/fonts/Arcane.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//colors
:root {
    --primary-color: #FFF;
    --active-color: #353535;
    --third-color: #E0E4E5;
    --tonic-color: #ff701d;
    --background-color: #;
    --default-color: #;
    --default-font: arial;
    --title-font: 'Arcane', sans-serif;
}

a {
    text-decoration: none;
}

// imports
@import url(https://db.onlinewebfonts.com/c/502cf5d63e1bd546956a036c88f9920d?family=Arcane+Regular); 
@import'_reset';
@import'_mixins';
@import'_default';
@import'_detail';
@import'_header';
@import'_footer';



body {
    background-color: #FFF;

    p {
        color: var(--active-color);
        font-weight: 300;
    }
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1070px) {
    .wrapper {
        padding-left: 2%;
        padding-right: 2%;
    }
}


h1 {
    font-family: var(--title-font);
    font-size: 25px;
}

body {
    font-family: 'Arcane', sans-serif;
}

#site-search {
    width: 416px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #999999;
    border-style: none;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
}

button {
    background-color: var(--primary-color);
    border: none;
}

.search {
    margin-top: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #707070;
}