{% extends "/layouts/public.twig" %} 
{% block title %}Conditions d'utilisation{% endblock %} 

{% block-content %}
{% block content %}
<div class="wrapper">
    <h2>Politique de Confidentialité</h2>

    Conditions d'Utilisation

Date d'entrée en vigueur : [Date]

Bienvenue sur AnimaScoop ! En accédant et en utilisant notre site, vous acceptez de vous conformer aux présentes conditions d'utilisation. Veuillez les lire attentivement.
1. Acceptation des Conditions

En accédant à AnimaScoop, vous acceptez d'être lié par ces conditions d'utilisation et de vous conformer à toutes les lois et réglementations applicables. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.
2. Utilisation du Site

AnimaScoop vous accorde une licence limitée, non exclusive et non transférable pour accéder et utiliser notre site à des fins personnelles et non commerciales. Vous acceptez de ne pas :

    Utiliser le site à des fins illégales ou interdites par ces conditions.
    Copier, modifier, distribuer, vendre ou louer toute partie de notre site sans notre autorisation écrite préalable.
    Interférer avec le fonctionnement du site ou accéder à des zones non autorisées du site.

3. Compte Utilisateur

Pour accéder à certaines fonctionnalités de notre site, vous pouvez être amené à créer un compte utilisateur. Vous acceptez de fournir des informations exactes et complètes lors de la création de votre compte et de maintenir ces informations à jour. Vous êtes responsable de la confidentialité de votre compte et de votre mot de passe et de toutes les activités qui se produisent sous votre compte.
4. Contenu Utilisateur

Vous pouvez soumettre du contenu sur AnimaScoop, y compris des commentaires et des critiques de films. En soumettant du contenu, vous accordez à AnimaScoop une licence mondiale, non exclusive, gratuite, transférable et pouvant donner lieu à une sous-licence pour utiliser, reproduire, modifier, publier et distribuer ce contenu.
5. Propriété Intellectuelle

Tous les contenus présents sur AnimaScoop, y compris les textes, images, logos et autres matériels, sont la propriété de AnimaScoop ou de ses partenaires et sont protégés par les lois sur la propriété intellectuelle. Vous ne pouvez pas utiliser ces contenus sans notre autorisation préalable.
6. Politique de Confidentialité

Votre utilisation de notre site est également régie par notre politique de confidentialité. En utilisant AnimaScoop, vous acceptez les termes de notre politique de confidentialité, disponible [ici](lien vers la politique de confidentialité).
7. Limitation de Responsabilité

AnimaScoop est fourni "tel quel" et "tel que disponible". Nous ne garantissons pas que le site sera ininterrompu, exempt d'erreurs ou sécurisé. Dans la mesure permise par la loi, nous déclinons toute responsabilité pour tout dommage direct, indirect, accessoire ou consécutif résultant de votre utilisation de notre site.
8. Modifications des Conditions d'Utilisation

Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Nous vous informerons de tout changement en publiant les nouvelles conditions sur notre site. Votre utilisation continue de AnimaScoop après la publication des modifications constitue votre acceptation de ces changements.
9. Résiliation

Nous nous réservons le droit de suspendre ou de résilier votre accès à AnimaScoop à tout moment, sans préavis, pour toute violation de ces conditions d'utilisation ou pour toute autre raison.
10. Droit Applicable

Ces conditions d'utilisation sont régies et interprétées conformément aux lois de [Votre Pays/Région]. Tout litige découlant de ou en relation avec ces conditions sera soumis à la juridiction exclusive des tribunaux de [Votre Ville/Région].
11. Contactez-Nous

Si vous avez des questions concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse suivante :

Email : [Votre Adresse Email]
Adresse Postale : [Votre Adresse Postale]

Dernière mise à jour : [Date]

{% end-content %}