{% extends "/layouts/public.twig" %} 
{% block title %}Politique de Confidentialité{% endblock %} 

{% block content %}
<div class="wrapper">
    <h2>Politique de Confidentialité</h2>

        <p>Date d'entrée en vigueur : 01/01/2024</p>

        <p>Bienvenue sur AnimaScoop, votre destination dédiée aux films d'animation. Chez AnimaScoop, nous respectons votre vie privée et nous nous engageons à protéger vos informations personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données lorsque vous utilisez notre site web.</p>
        
        <div style="margin-top: 10px;">
        <h4>1. Collecte des Informations</h4>
        
        <p>Nous collectons différents types d'informations lorsque vous utilisez notre site :
        
            Informations Personnelles : Lorsque vous vous inscrivez sur notre site, nous pouvons vous demander des informations telles que votre nom, adresse e-mail, et autres informations de contact.
            Informations de Navigation : Nous collectons des informations sur votre navigation sur notre site, y compris votre adresse IP, les pages visitées, le type de navigateur, et le temps passé sur chaque page.
        </p>
        </div>
    <div style="margin-top: 10px;">
        <h4>2. Utilisation des Informations</h4>
        
        <p>Les informations collectées sont utilisées pour :
        
            Fournir et Améliorer nos Services : Nous utilisons vos informations pour vous offrir une expérience personnalisée et améliorer notre site et nos services.
            Communiquer avec Vous : Nous pouvons utiliser vos informations pour vous envoyer des mises à jour, des newsletters, et d'autres communications liées à notre site.
            Sécurité : Vos informations nous aident à assurer la sécurité de notre site et à prévenir toute activité frauduleuse.
        </p>
    </div>
    <div style="margin-top: 10px;">
        <h4>3. Partage des Informations</h4>
        
        <p>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers. Nous pouvons partager vos informations avec des partenaires de confiance pour nous aider à exploiter notre site, mener nos affaires, ou vous servir, tant que ces parties acceptent de garder ces informations confidentielles.</p>
    </div>
    <div style="margin-top: 10px;">
        <h4>4. Cookies et Technologies Similaires</h4>
        
        <p>Nous utilisons des cookies et d'autres technologies similaires pour améliorer votre expérience sur notre site. Les cookies sont de petits fichiers qui sont stockés sur votre appareil. Ils nous aident à comprendre comment vous utilisez notre site et à personnaliser votre expérience.</p>
    </div>
    <div style="margin-top: 10px;">    
        <h4>5. Sécurité de Vos Informations</h4>
        
        <p>Nous mettons en œuvre diverses mesures de sécurité pour protéger vos informations personnelles. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est 100 % sécurisée. Par conséquent, bien que nous nous efforcions de protéger vos informations personnelles, nous ne pouvons garantir leur sécurité absolue.</p>
    </div>
    <div style="margin-top: 10px;">    
        <h4>6. Vos Droits</h4>
        
        <p>Vous avez le droit de :
        
            Accéder à Vos Informations : Vous pouvez demander une copie des informations personnelles que nous détenons sur vous.
            Rectifier Vos Informations : Vous pouvez demander la correction de toute information inexacte ou incomplète.
            Supprimer Vos Informations : Vous pouvez demander la suppression de vos informations personnelles sous certaines conditions.
        </p>
    </div>
    <div style="margin-top: 10px;">
        <h4>7. Modifications de la Politique de Confidentialité</h4>
        
        <p>Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment. Nous vous informerons de tout changement en publiant la nouvelle politique sur notre site. Nous vous encourageons à consulter cette page régulièrement pour rester informé de tout changement.</p>
    </div>
    <div style="margin-top: 10px;">    
        <h4>8. Contactez-Nous</h4>
        
        <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, n'hésitez pas à nous contacter à l'adresse suivante :<p>
        
        <p>Email : chris@greta.com</p>
        <p>Adresse Postale : AnimaScoop, chemin du cinéma, 64600 Anglet</p>
        
        <p>Dernière mise à jour : 30/06/2024</p>

    </div>
</div>

{% endblock %}